/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-backgroud: #0F162D;
    --color-pink: #CA59FF;
    --color-blue: #6C7CFF;
    --color-aqua: #2AFFFF;
    --color-yellow: #FFF629;
    --color-white: #FFFFFF;
    --color-dark: #272D42;
    --color-black: #000000;
    --color-pink-bg: #373155;
    --color-blue-bg: #2C3455;
    --color-green-bg: #274255;
    --color-yellow-bg: #3D413F;
}