/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

#home-page {
    min-height: 100vh;

    @media screen and (min-width: 560px) {
        display: grid;
        place-content: center;
    }
}


.ai-area {
    color: var(--color-white);

    @media screen and (min-width: 560px) {
        max-width: 496px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        gap: 109px;
        max-width: 1136px;

    }
}

.header-component {
    margin: 3em 1em 1em;

    & &__title {
        font-size: 2rem;
        letter-spacing: -0.1px;
        line-height: 1.25;

    }

    & &__description {
        margin-top: 1em;
        line-height: 24px;
    }

    @media screen and (min-width: 560px) {
        margin-top: 0.5em;
        margin-inline: 0;

        & &__title {
            font-size: 3rem;
            line-height: 56px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-top: 1em;
        max-width: 470px;

        & &__description {
            margin-top: 1.45em;
        }
    }
}