/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

#home-page {
    min-height: 100vh;

    @media screen and (min-width: 560px) {
        display: grid;
        place-content: center;
    }
}


.ai-area {
    color: var(--color-white);

    @media screen and (min-width: 560px) {
        max-width: 496px;
    }

    @media screen and (min-width: 960px) {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 3em;
        max-width: 1136px;
        margin: 3em;
    }

    &__header {
        margin: 3em 1em 1.1em;

        @media screen and (min-width: 560px) {
            margin-top: 0.1em;
            margin-inline: 0;
        }

        @media screen and (min-width: 960px) {
            width: 80%;
        }




        &__title {
            font-size: 2rem;

            @media screen and (min-width: 560px) {
                font-size: 3rem;
                line-height: 1.1;

            }
        }

        &__description {
            margin-top: 1.1em;
            line-height: 1.45;
        }
    }


}